* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    background-image: url("../img/gradient-1761190_1280.jpg");
}

.contenedorPrincipal {
    max-width: 1200px;  /*100% del ancho de la pantalla*/
    margin: 0  auto;
}
/* Estilos del header */
header {
    background-color: rgb(133, 158, 206);
    width: 100%; /*1200px*/
    height: 50px;
}

header nav ul li {
    list-style-type: none;
    float: left;
}

header nav ul li a{
    text-decoration: none;
    padding: 15px 20px;
    color: rgb(23, 194, 83);
    display: inline-block;
}

header nav ul li a:hover {
    background-color: rgb(224, 190, 67);
    color: #FFF;
    border-bottom: 2px solid  #fff;
    border-right: 2px solid  #fff;
}

main {
    clear: both;
    background-color: rgb(246, 232, 215);
    width: 70%;    /*840px*/
    float: left;
}
img {
    width: 100%;
}
/* #imageDesigner {
    width:  70%;
    height: auto;
} */

main section {
    padding: 30px;
}

main h1 {
    margin-bottom: 20px;
    font-size: 1.6em
}

main section p {
    text-align: justify;
    margin-bottom: 16px;
    line-height: 1.5em;
    color: rgb(195, 101, 38);
}

aside {
    width: 30%;
    float: right;
    background-color: rgba(229, 226, 226, 0.845);
    padding: 30px;
    font-size: 1em;
}
aside ul li{
    list-style-type: none;
    margin-bottom: 16px;
    border-bottom: 1px solid #000;
}
aside ul li a{
    text-decoration: none;
    color: rgb(19, 18, 18);
}

aside ul li a:hover {
    color: brown;
}

aside h2 {
    margin-bottom: 20px;
    font-weight: bold;
font-size: 1.4em;
}

footer {
    width: 70%;
    clear: both;
    padding: 60px;
    background-color: rgb(133, 158, 206);
}

footer p {
    color: #FFF;
    text-align: center;
}

/* #primerParrafo {
    color: chartreuse;
}

.parrafo {
    color: rgb(177, 26, 149);
} */

/*Ejemplo descendientes*/
.parrafito p{
    color: blueviolet;
}

.contenedor > div > h2 {
    color: chartreuse;
}

